@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Ubuntu:wght@300&display=swap');
:root {
    --main-bg-color:#2874f0;
  }
*{
    padding: 0;
    margin: 0;
}
footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
header{
    height:58px; 
    background-color: var(--main-bg-color);
    /* border: 2px solid red; */
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    display: flex;
    width: 100vw;
}
nav{
    display: flex;
}
nav ul{
     height:58px ; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li a{
    list-style: none;
    padding: 0 23px;
    background-color: var(--main-bg-color);
    color: white;
    display: flex;
    text-decoration: none;

}
nav ul li a:hover{
    font-weight: bold;
    text-decoration: none;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.search input{
    width: 30vw;
    height: 23px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}
.search button:hover{
    font-family: 'Lato', sans-serif;
    font-weight:900;

}
.slider{
    width: 80vw;
    margin: auto 95pxx;
    overflow: hidden;
}
.slider img{
    margin: auto;
    width: 155vh;
    align-items: center;
    padding: 5px 222px;
}
.card{
    max-width: 91vw;
    margin: 37px auto;
}
.cards{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
 .card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
} 
.card h2{
    font-family: 'Ubuntu', sans-serif;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
    background-color: beige;
}
nav ul li{
    color: white;
    text-decoration: none;
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0 25px;
}